.qna-post {
  width: 50%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.qna-post h1 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.post-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5c7cb8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.post-btn:hover {
  background-color: #3c5fa0;
}

.btns {
  text-align: right;
}

.btns > button {
  background-color: #5c7cb8;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 6px;
}

.btns > button:hover {
  background-color: #3c5fa0;
}

.link-btn > button {
  background-color: #5c7cb8;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 6px;
}

.link-btn > button:hover {
  background-color: #3c5fa0;
}
